<?xml version="1.0" encoding="UTF-8"?>
<configuration  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="logback.xsd">
    <if condition='p("ptr.env").equals("DES")'>
        <then>
            <property name="LOG_DIR" value="/u01/app/des_oracle/product/wls12.1.3.0/logs/mw_ptr_wls_domain02/application/OFDASTCSTKDWSD/" />
        </then>
        <else>
            <property name="LOG_DIR" value="/u01/app/oracle/product/wls12.1.3.0/logs/mw_ptr_wls_domain02/application/OFDASTCSTKDWSD/" />
        </else>
    </if>

    <property name="ARCHIVE" value="OFDAVTIMPADWSD" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd/MM/yyyy-HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}${ARCHIVE}-${weblogic.Name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}${ARCHIVE}-${weblogic.Name}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 10MB, keep 30 days worth of history, but at most 80GB -->
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>40GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{dd/MM/yyyy-HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Graylog appender -->
    
	<if condition='p("ptr.env").equals("PRO")'>
        <then>
        	<property name="graylog.server" value="axingraylog.central.inditex.grp" />
        	<property name="graylog.environment" value="PRO" />
        </then>
        <else>
            <if condition='p("ptr.env").equals("PRE")'>
                <then>
                	<property name="graylog.server" value="axpregraylog.central.inditex.grp" />
                	<property name="graylog.environment" value="PRE" />
                </then>
                <else>
		                <property name="graylog.server" value="axdesgraylog.central.inditex.grp" />
		                <property name="graylog.environment" value="DES" />
				</else>
            </if>
        </else>
    </if>
    <property name="graylog.port" value="12201" />
    
  <appender name="GRAYLOG" class="me.moocar.logbackgelf.GelfAppender">
	   <graylog2ServerHost>${graylog.server}</graylog2ServerHost>
	   <graylog2ServerPort>${graylog.port}</graylog2ServerPort>
       <staticAdditionalField>_stream_filter:${claveProyectoJiraReferencia}</staticAdditionalField>
       <staticAdditionalField>_ref_project_name:${nombreProyectoJiraReferencia}</staticAdditionalField>
       <staticAdditionalField>_project_key:${claveProyectoJira}</staticAdditionalField>
       <staticAdditionalField>_project_name:${nombreProyectoJira}</staticAdditionalField>
       <staticAdditionalField>_environment:${graylog.environment}</staticAdditionalField>
       <additionalField>serverName:_server_name</additionalField>
       <additionalField>jvmName:_jvm_name</additionalField>
       <additionalField>timestamp:_timestamp</additionalField>
       <additionalField>source:_source</additionalField>
       <additionalField>facility:_facility</additionalField>
       <additionalField>level:_level</additionalField>
       <additionalField>message:_message</additionalField>
       <additionalField>version:_version</additionalField>
       <additionalField>req_auth_user:_req_auth_user</additionalField>
       <additionalField>req_jsessionid:_req_jsessionid</additionalField>
       <additionalField>req_queryString:_req_queryString</additionalField>
       <additionalField>req_remoteHost:_req_remoteHost</additionalField>
       <additionalField>req_requestURI:_req_requestURI</additionalField>
       <additionalField>req_requestURL:_req_requestURL</additionalField>
       <additionalField>req_userAgent:_req_userAgent</additionalField>
       <additionalField>req_xForwardedFor:_req_xForwardedFor</additionalField>
 </appender>
     	

    <if condition='p("ptr.env").equals("PRO")'>
        <then>
            <root level="INFO">
                <!--<appender-ref ref="CONSOLE" />-->
                <appender-ref ref="FILE" />
                <appender-ref ref="GRAYLOG" />
            </root>
        </then>
        <else>
            <if condition='p("ptr.env").equals("PRE")'>
                <then>
                    <root level="DEBUG">
                        <!-- <appender-ref ref="CONSOLE" />-->
                        <appender-ref ref="FILE" />
                        <appender-ref ref="GRAYLOG" />
					</root>
                </then>
                <else>
                    <if condition='p("ptr.env").equals("DES")'>
		                <then>
		                    <root level="DEBUG">
		                        <!--<appender-ref ref="CONSOLE" />-->
		                        <appender-ref ref="FILE" />
		                        <appender-ref ref="GRAYLOG" />
							</root>
		                </then>
		                <else>
		                    <root level="DEBUG">
		                        <appender-ref ref="CONSOLE" />
		                        <appender-ref ref="GRAYLOG" />
		                    </root>
		                </else>
		            </if>
                </else>
            </if>
        </else>
    </if> 
    
</configuration>